logs
*.iml
target/
.idea
.idea_modules
.vscode
.metals
RUNNING_PID
generated.keystore
generated.truststore
*.log
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests
.DS_Store
.DS_Store?
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.ensime
.ensime_cache/*
ensime.sbt
project/.ensime
*.sc
*.orig
**.bloop/
**.metals/
